 <widget id="A6981075723139"  version="0.0.1">

    <name>topLine</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="windowBackground" value="rgba(255, 255, 255, 1)"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

	<preference name="hScrollBarEnabled" value="true"/>

	<preference name="vScrollBarEnabled" value="true"/>

	<preference name="autoLaunch" value="true"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true" />

	<preference name="smartUpdate" value="false" />

	<preference name="debug" value="false"/>

	<preference name="iOS7StatusBarAppearance" value="true"/>

	<permission name="readPhoneState" />

    <!-- 
		<permission name="call" />

		<permission name="sms" />
	-->

	<permission name="camera" />

	<permission name="record" />

	<permission name="location" />

	<permission name="fileSystem" />

	<permission name="internet" />

	<permission name="bootCompleted" />

	<permission name="hardware" />

	<permission name="contact" />
	
	 <feature name="weibo">
   		<param name="urlScheme" value="wb3776742023" />
   		<param name="apiKey" value="3776742023" />
	   <param name="registUrl" value="http://www.baidu.com/" />
	 </feature>

</widget>

